# PyMapD intro and Setup

This tutorial is based on https://github.com/ibis-project/ibis/tree/master/docs/source/notebooks/tutorial

## Getting started

You're going to want to make sure you can import `ibis`

In [1]:
from ibis.mapd.client import EXECUTION_TYPE_CURSOR, EXECUTION_TYPE_ICP, EXECUTION_TYPE_ICP_GPU
import ibis

To connect to `MapD` database, use `connect` method from `ibis.mapd` module.

In [2]:
host = dict(
    host='localhost', user='mapd', password='HyperInteractive',
    port=9091, database='mapd'
)

con = ibis.mapd.connect(**host)
con

Obviously, substitute the parameters that are appropriate for your environment (see docstring for `ibis.mapd.connect`). `mapd.connect` uses the same parameters as pymapd's (https://pypi.python.org/pypi/pymapd) DBAPI interface

`Ibis Mapd` backend also works on context manager:

In [3]:
tables = {}
for execution_type in [
    EXECUTION_TYPE_CURSOR, EXECUTION_TYPE_ICP, EXECUTION_TYPE_ICP_GPU
]:
    with ibis.mapd.connect(
        **host, execution_type=execution_type
    ) as con:
        t = con.table('functional_alltypes')[['float_col', 'double_col']]
        try:
            tables[execution_type] = t.limit(10).execute()
        except Exception as e:
            print(e)
        
__import__('pandas').concat(tables)

The 'pygdf' package is required for `select_ipc_gpu`: SELECT "float_col", "double_col"
FROM mapd.functional_alltypes
LIMIT 10

     float_col  double_col
1 0        0.0         0.0
  1        1.1        10.1
  2        2.2        20.2
  3        3.3        30.3
  4        4.4        40.4
  5        5.5        50.5
  6        6.6        60.6
  7        7.7        70.7
  8        8.8        80.8
  9        9.9        90.9
3 0        0.0         0.0
  1        1.1        10.1
  2        2.2        20.2
  3        3.3        30.3
  4        4.4        40.4
  5        5.5        50.5
  6        6.6        60.6
  7        7.7        70.7
  8        8.8        80.8
  9        9.9        90.9